.silhouette {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20%;
  height: 50vh;
}

.article {
  border: 1px solid black;
  border-radius: 1rem;
  width: 15vh;
  height: 20vh;
  margin: 0;
  padding: 0;
}

.fitting-room {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.measurement-form {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.clothing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vh;
  height: 50vh;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid red;
  overflow: scroll;
  row-gap: 0;
}

.x {
  display: flex;
  justify-content: space-between;
}

.x > * {
  margin: 10px 10px;
}

navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
}

.right-nav {
  display: flex;
}

.links {
  list-style-type: none;
  display: flex;
  font-size: small;
}

.links > * {
  margin-left: 25px;
  font-weight: bold;
}

.search-bar > span {
  position: absolute;
  z-index: 1;
}

.search-bar > input {
  width: 13rem;
}

.icons{
  margin-right: 60px;
}

.vfButton{
display: flex;
background-color: black;
position: absolute;
right: 1%;
width: 40px;
height: 28px;
top: 20px;
color: white;
justify-content: center;
align-items: center;
z-index: 5;
}