.silhouette {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20%;
  height: 50vh;
}

.article {
  border: 1px solid black;
  border-radius: 1rem;
  width: 10rem;
  height: 20vh;
}

.fitting-room {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.clothing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50rem;
}

.x {
  display: flex;
  justify-content: space-between;
}

.x > * {
  margin: 10px 10px;
}
